body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-attachment: fixed;
}

.title{
  font-family: Coniferous;
  color: #707070;
  text-align: center;
  font-size: calc(50px + .1vw);
  margin-top: 1%;
}
