.calculator{
    font-family: Roboto;
    font-size: calc(10px + 3vmin);
    font-weight: 100;
    box-shadow: 0px 3px 6px;
    border-radius: 30px;
    background-color: #FFFFFF;
    width: 25vw;
    height: 76vh;
    margin-top: 3%;
    margin-left:auto;
    margin-right:auto;
}

.equation-display{
    padding-top: 10%;
    text-align: end;
    padding-right: 10%;
    font-size: calc(10px + 3vmin);
}

.display{
    padding-top: 20%;
    text-align: end;
    padding-right: 10%;
    font-size: calc(20px + 3vmin);
}

.underline{
    border: none;
    width: 85%;
    height: .1px;
    margin: auto auto;
    padding-bottom: 15%;
}

.grid-container{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    grid-row-gap: 1.3rem;
}

.equal-sign{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 1.5px 4px;
    background-color: #F7F7F7;
}

.button-key{
    padding: 0;
    border: none;
    background: none;
    font-family: Roboto;
    font-size: calc(10px + 3vmin);
    font-weight: 100;
    color: #707070;
    outline: 0;
}

button:hover{
    color: rgba(255, 0, 0, 0.829);
}

@media only screen and (max-height: 400px) {
    .calculator{
        height: 76vh;
    }
  }